## List and Tuple

1. List is a collection different data types.(same in tuple).
2. List is ordered. (same in tuple)
3. List is indexed. (same in tuple)
4. repeative elements can be allowed in list and tuple also.
5. List is <b>mutable</b> and tuple is <b>immutable</b>

In [1]:
x = [1, "hello", 'hey', 5.6, True,1,1,1,1]

print(x)

[1, 'hello', 'hey', 5.6, True, 1, 1, 1, 1]

In [3]:
print(x[3])

5.6

In [5]:
x = [1, "hello", 'hey', 5.6]

x[2] = "hiiiiiiiiiiii"
print(x)

[1, 'hello', 'hiiiiiiiiiiii', 5.6]

In [7]:
x = [1, "hello", 'hey', 5.6, 89, 78]

print(x[2:5])

['hey', 5.6, 89]

In [10]:
x = [1, "hello", 'hey', 5.6, 89,78]

x[2:5] = [100,200,300,4500,600,800]

print(x)

[1, 'hello', 100, 200, 300, 4500, 600, 800, 78]

In [9]:
x = [1, "hello", 'hey', 5.6, 89,78,1,1,1]

print(len(x))
print(x.count(1))
print(x.index('hey'))

9
4
2

In [15]:
x = [11,22,33,44]

# x.append("hello")         # it will add element in the last of the list only
# x.insert(2,"heyyyy")      # it will add element at the particular index of the list
x.extend([78,"heyy",6.7])   # it will add multiple elements at the last of the list
print(x)

[11, 22, 33, 44, 78, 'heyy', 6.7]

In [16]:
x = [11,22,33,44]

x.append(["heyy","hi",56])

print(x)

[11, 22, 33, 44, ['heyy', 'hi', 56]]

In [17]:
x = [1, 2, [3, 4, [5, 6, 7, 8], 9, 10], 11, 12]
print(x[2][2][2])

7

In [18]:
x = [[1, [2, 3, 4, [5, 6, 7, 8], 9, 10, 11], 12]]
print(x[0][1][3][1])

6

In [19]:
x = [1,2,3] *3
print(x)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [24]:
x = [ [] ] * 3
# x[0].append(100)
print(id(x[0]))
print(id(x[1]))
print(id(x[2]))
x[0].append(100)
print(x)

1390866705216
1390866705216
1390866705216
[[100], [100], [100]]

In [22]:
x = [1, 2, [3, 4, [5, 6, 7, 8], 9, 10], 11, 12]

# x = [1, 2, [3, 4, [5, 6, 7, 8,1000], 9, 10], 11, 12]
# x[2][2].append(1000)
# print(x)
# x = [1, 2, [3, 4, [5, 6,2000, 7, 8], 9, 10], 11, 12]
x[2][2].insert(2,2000)
print(x)
# x = [1, 2, [3, 4,3000, [5, 6, 7, 8], 9, 10], 11, 12]

[1, 2, [3, 4, [5, 6, 2000, 7, 8], 9, 10], 11, 12]

In [25]:
x = [ [],[],[]]
x[0].append(100)
print(x)

[[100], [], []]

In [4]:

x = [11,212,3213,44,5,51]

print("minimum element is = ",min(x))
print("maximum element is = ",max(x))
print("sum of elements is = ",sum(x))

x.sort(reverse = True)
print(x)

minimum element is =  5
maximum element is =  3213
sum of elements is =  3536
[3213, 212, 51, 44, 11, 5]

In [5]:
# x = [11,212,"hello",3213,44,"hi",5,51]
x =  ["hello","hi","hey"]


print("minimum element is = ",min(x))
print("maximum element is = ",max(x))
# print("sum of elements is = ",sum(x))
x.sort()
print(x)

minimum element is =  hello
maximum element is =  hi
['hello', 'hey', 'hi']

In [15]:
x = [11,22,33,33,"hello",44,55,66,33]

# x.remove(33)
# del x
# del x[1]
# del x[1:4]
# z = x.pop()
# z = x.pop(4)
x.clear()

print(x)
# print(z)

[]

In [13]:
z = []
print(type(z))

<class 'list'>

In [17]:
x = ["hello",11, 22,"hi"]


if 11 in x:
    print("yes, present")
else:
    print("not present")
    
if 111 not in x:
    print("not present")
else:
    print("yes, present")

yes, present
not present

In [23]:
x = ["hello",11, 22,"hi"]


for i in x:
    print(i)

print("----------------")

for i in range(len(x)):
    print(i,"---",x[i])

hello
11
22
hi
----------------
0 --- hello
1 --- 11
2 --- 22
3 --- hi

In [24]:
x = ["hello","hi"]
y = ["monu","sonu"]

# output:
# z = ["hello monu","hello sonu","hi monu","hi sonu"]

z = []

for i in x:
    for j in y:
        z.append(i+" "+j)
        
print(z)

['hello monu', 'hello sonu', 'hi monu', 'hi sonu']

# List Comphresion

In [2]:
x = ["hello","hi"]
y = ["monu","sonu"]

# output:
# z = ["hello monu","hello sonu","hi monu","hi sonu"]

z  = [i+' '+j for i in x for j in y]

# for i in x:
#     for j in y:
#         z.append(i+' '+j)
print(z)

['hello monu', 'hello sonu', 'hi monu', 'hi sonu']

In [25]:
# Q2
x = ['m','na','i','am']
y = ['y','me','s','an']

# output
# z = ['my','name','is','aman']
z = []

for i in range(len(x)):
    z.append(x[i]+y[i])

print(z)

['my', 'name', 'is', 'aman']

In [3]:
# Q3. wap to remove all the occurrence of 33 from the list 
x = [11,33,22,33,33,44,44,33,33,55,33,33]


z = [i for i in x if i != 33]      
print(z)

[11, 22, 44, 44, 55]

In [28]:
x = [11,33,22,33,33,44,44,33,33,55,33,33]

while 33 in x:
    x.remove(33)
      
print(x)

[11, 22, 44, 44, 55]

In [4]:
# Q4. wap to create a list of unique elements from the given list
x = [11,33,22,33,33,44,44,33,33,55,33,33]

# output:-
# z = [11,33,22,44,55]
z = []

for i in x:
    if i not in z:
        z.append(i)
print(z)

[11, 33, 22, 44, 55]

In [5]:
x = ["raman","aman","daman","vaman","mohan"]
print(x[-1][-2])

a

In [8]:
x = ["abbca","abcc","1221","1331","121"]

# for i in x:
#     if len(i) > 3 and i[0] == i[-1]:
#         print(i)
    
for i in range(len(x)):
    if len(x[i]) > 3 and x[i][0] == x[i][-1]:
        print(x[i])

abbca
1221
1331