## for loops

In [ ]:
for i in range(1,10,2):
    print(i,end=" ")                     # range(start,stop,step)

In [ ]:
for i in range(1,10):
    print(i,end=" ")                     # range(start,stop,step=1)

In [ ]:
for i in range(10):
    print(i,end=" ")                     # range(start =0,stop,step=1)

In [ ]:
for i in range(2,101,2):
    print(i,end=" ")

In [ ]:
for i in range(10,0,-1):
    print(i,end=" ")

In [ ]:
x = "hello"


for i in x:
    print(i)

for i in range(len(x)):
    print(i,"---",x[i])

In [ ]:
# x = 456

# for i in x:
#     print(i)

In [ ]:
# Q1. wap to print all factors of input number

x = int(input("enter a number = "))
count = 0
for i in range(1,x+1):
    if(x % i == 0):
        print("the factor of",x,"is =",i)
        count = count + 1
        
print("Total no. of factors = ",count)

In [ ]:
# Q2 wap to print the factorial of a input number
# ex- 5! ---> 5*4*3*2*1

x = int(input("enter a number = "))
fact = 1

for i in range(1,x+1):
    fact = fact  * i
    
print("the factorial of ",x,"is =",fact)

In [ ]:

for i in range(1,16):
    if(i%3 == 0 and i%5 == 0):
        print("fizzBuzz")
    elif(i%5 == 0):
        print("Buzz")
    elif(i%3 == 0 ):
        print("fizz")
    else:
        print(i)

In [ ]:
# Q3 wap to swap the two numbers
x = 5
y = 6

print("before swapping = ",x)
print("before swapping = ",y)

temp = x
x = y
y = temp

print("after swapping = ",x)
print("after swapping = ",y)

In [ ]:
# Q3 wap to swap the two numbers
x = 10
y = 112

print("before swapping = ",x)
print("before swapping = ",y)

x = x + y
y = x - y
x = x - y

print("after swapping = ",x)
print("after swapping = ",y)

In [ ]:
# Q3 wap to swap the two numbers
x = int(input("enter a 1st number = "))
y = int(input("enter a 2nd number = "))

print("before swapping = ",x)
print("before swapping = ",y)

x,y = y,x

print("after swapping = ",x)
print("after swapping = ",y)

## While

In [ ]:
i = 0
while(i<=5):
    print(i)
    i = i + 1

In [ ]:
i = 0
while(i<=5):
    i = i + 1
    print(i)

In [ ]:
for i in range(1,6):
    print(i)
else:
    print("bye")

In [ ]:
i = 0
while(i<=5):
    print(i)
    i = i + 1
else:
    print("bye")

In [ ]:
for i in range(1,6):
    print(i)
 
print(i)

In [ ]:
i = 0
while(i <= 5):
    print(i)
    i = i + 1
 
print(i)

In [ ]:
for i in range(1,1):
    print(i)

### Break,continue and pass

## Break

In [ ]:
for i in range(1,5):
    if(i==3):
        break
    print(i)

## continue

In [ ]:
for i in range(1,5):
    if(i==3):
        continue
    print(i)

In [ ]:
for i in range(1,10):
    pass

    
print("hello")

In [ ]:
i = 0
while(i<=10):
    if (i == 5):
        break
    print(i)
    i = i + 1
else:
    print("bye.....")

In [ ]:
i = 0
while(i<=10):
    if (i == 5):
        continue
    print(i)
    i = i + 1
else:
    print("bye.....")

In [ ]:
x = "hello world"
for i in x:
    i.upper()
print(x)

In [ ]:
x = "hello world"
for i in x:
#     print(i.title(),end=  "")
    i = i.capitalize()
    print(i,end="")

In [ ]:
# Q3. wap to print all the prime number between 1-50

for k in range(1,50):
    if k > 1:
        for i in range(2,k):
            if (k%i == 0):
                break
        else:
            print(k,end =" ")

In [ ]:
# Q4. wap to reverse a number ex-5742 ---> 2475

x = int(input("enter a number = "))
y = str(x)
y = y[::-1]
x = int(y)
print(x)

In [ ]:
x = int(input("enter a number = "))

rev = 0

while(x >= 1):
    rem = x%10
    rev = (rev *10) + rem
    x = x //10
    
print("reversed number =",rev)

In [ ]:
#homework
# Q5. wap to check a number is palindrome or not
# Q6. wap to check a string is palindrome or not
# Q7. wap to sum of all digits of a number. ex-> 1234 -->10

In [ ]:
#Q8. wap to print the fibbonacci series
# 0 1 1 2 3 5 8 13 .....

x = 0 
y = 1

while(x<= 10):
    print(x)
    x,y = y,x+y

## Nested Loop

In [ ]:
for i in range(1,6):           #outer loop
    for j in range(1,i+1):     #inner loop
        print("*",end=" ")
    print()

In [ ]:
print("hello " *5)

In [ ]:
for i in range(1,6):
    print("* " *i)

In [ ]:
i = 1
while(i<=5):
    print("* " *i)
    i = i + 1

In [ ]:
i = 5
while(i>=1):
    print("* "*i)
    i = i - 1

In [ ]:
i = 1
while(i<=5):
    print(" "*(5-i)+"*" *i)
    i = i + 1

In [4]:
i = 1
while(i<=5):
    print(" "*(5-i)+"* " *i)
    i = i + 1

    *
   * *
  * * *
 * * * *
* * * * *

In [5]:
i = 5 
while(i>=1):
    print(" "*(5-i)+"* " *i)
    i = i - 1

* * * * *
 * * * *
  * * *
   * *
    *

In [ ]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

In [ ]:
for i in range(1,6):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

In [ ]:
for i in range(1,6):
    for j in range(5,i-1,-1):
        print(i,end=" ")
    print()

In [ ]:
for i in range(1,6):
    for j in range(5,i-1,-1):
        print(j,end=" ")
    print()

In [ ]:
for i in range(5,0,-1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

In [3]:
x = "python"
y = ""

for i in x:
    y = y +" "+ i
    print(y)

 p
 p y
 p y t
 p y t h
 p y t h o
 p y t h o n

In [ ]:
x = "hello"

for i in range(len(x)):
    print(x)
    x = "a"

In [ ]:
True = False
while True:
    print("true")

In [ ]:
x = "hello"
i = 'e'
while i in x:
    print(i,end=" ")

In [ ]:
x = "hello"
i = 'e'
while i in x[:-1]:
    print(i,end=" ")

In [2]:
x = "hello"
i = 'e'
while i in x:
    x = x[:-1]
    print(i,end=" ")
# x = "hello"
# print(x[:-1])

e e e e