In [1]:
x = (1, "hello", 'hey', 5.6, True,1,1,1,1)

print(x)

(1, 'hello', 'hey', 5.6, True, 1, 1, 1, 1)

In [2]:
x[1] = 1000
print(x)

TypeError: 'tuple' object does not support item assignment

In [11]:
x = (11,22,33,44,5,55)
print(min(x))
print(max(x))
print(sum(x))
print(len(x))
print(x.count(33))
print(x.index(5))

5
55
170
6
1
4

In [4]:
x = (11,22,33,44,5,55)

y = list(x)
y[1] =  28
x = tuple(y)

print(x)

(11, 28, 33, 44, 5, 55)

In [5]:
x = ("hello","hey")
y = ("hello",)
z = ("hello")

print(type(x))
print(type(y))
print(type(z))

<class 'tuple'>
<class 'tuple'>
<class 'str'>

In [9]:
x,y,z = (15,16,17)

print(type(x),"---",x)
print(type(y),"---",y)
print(type(z),"---",z)

<class 'int'> --- 15
<class 'int'> --- 16
<class 'int'> --- 17

In [10]:
x = (5,6)
y = (7,8)

x,y = y,x

print(x)
print(y)

(7, 8)
(5, 6)

In [12]:
x = (1,2,3)
y = (5,6,7)

# output
# z  = (1,2,3,4,5,6,7)
z  =  x + y

print(z)

(1, 2, 3, 5, 6, 7)

In [25]:

# x =  [1,2,3,4,(5,6,7,8),9,10]
y =  (1,2,3,4,[5,6,7,8],9,10)

x = list(y)
x[4] = tuple(x[4])
y = tuple(x)
print(y)

(1, 2, 3, 4, (5, 6, 7, 8), 9, 10)

In [ ]:
# Q1. wap to sum and multiply every element of given list to each other
# without using inbuilt function
x = [1,2,3,4,5]


# Q2. 
x = [1,[2,[3,4],5],6]
# output:-
z = [1,2,3,4,5,6]



x =  "aa22"
y = ""

for i in x: